name: Run Tests

on: [ push ]

jobs:

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [ "1.22", "1.23", "1.24" ]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: golangci-lint
        continue-on-error: true
        uses: golangci/golangci-lint-action@v8
        with:
          args: --issues-exit-code=0 --timeout=5m

      - name: Run tests
        run: go test -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... -v ./...

      - name: Upload to codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true

  changie:
    runs-on: ubuntu-latest
    needs: [test]
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Prepare release
        uses: labd/changie-release-action@v0.6.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
